*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}

header, main, footer{
	
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	font-family: arial;
	
	
}
.menu-topo{
	width: 100%;
	background-color: #cffaff;
	
}
.menu1{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name{
	margin-left: 10px;
	font-family: arial;
	font-size: 100px;
}
.logo{
	margin-right: 10px;
	width: 85px;
	height: 85px;
	border-radius: 150px;
	background-color: blue;
	margin-bottom: 5px;
}
.cao img{
	width: 200px;
	height: 200px;
	display: inline-block;
}

.menu2{
	height: 120px;
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #FF8C00;
	text-transform: uppercase;
	font-family: arial;
	margin-top: -61px;

}	

nav{
	margin-top: 50px;
	width: 100%;
	height:0;
	background-color: #FF8C00;
	justify-content: center;
	align-items: center;
	display: flex;
}
nav ul{
	justify-content: center;
	border-bottom: 1px solid #cffaff


}
nav ul li{
	float: left;
	list-style: none;
	
}

nav ul li a{
	display: flex;
	font-family: arial;
	color: #FFF;
	font-size: 16px;
	padding: 17px 10px;
	text-decoration: none;




}
nav ul li a:hover{
	color:#000;
	background-color: ;
	position: relative;


}
nav ul li ul{
	display: none;
	position: relative;
	background-color: #FF8C00;
	padding:10px;
	position: absolute;


}
nav ul li:hover ul{
	display: flex;
	
}
nav ul li ul li{
	width: auto;
	
}
nav ul li ul li a{
	
	
}
nav ul li ul li a:hover{
	background-color: #ffaa49;
	border-radius: 50px;
	border-bottom: 1px solid #cffaff
}
.banner{
	
	height:600px;
	background-color: #CCC;
	background-image:url('../img/slide.jpg');
	background-size: cover;
	background-position:bottom;
	overflow: hidden;
}

.banner .sliders{
	height: 100%;
	width: 1000vw;
}
.banner .slide{
	width: 100vw;
	height: 100%;
	display: inline-block;
	background-color:  rgba(0, 0, 0, 0.7);
}
.banner .slidearea{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: white;

}

.banner h1{
	text-transform: uppercase;
	font-weight:bold;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	display: block;
}
.banner h1 span{
	color: orange;
}
.banner a{
	display: flex;
	background-color: orange;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 30px;
	margin-top: 30px;
	border-radius: 50px;
}
.banner .sliders-pointers {
	width: 100vw;
	height: 20px;
	position: absolute;
	margin-top:-50px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.banner .pointer{
	width: 15px;
	height: 15px;
	border:2px solid white;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.banner .pointer.active{
	background-color: #000;
}
section .produto{
	width: 100vw;
	height: 100%;
	display: flex;
	background-color: #FF8C00;
}
.protudo-container{
	width: 100%;
	display: flex;	
	background-color: #FF8C00;
}
.produtos1{
	width: 500px;
	height: 300px;
	margin: 5px;
	background-color: #FFF;
	text-align: center;
	
	
}
.produtos2{
	width: 500px;
	height: 300px;
	margin: 5px;
	background-color: #FFF;
	text-align: center;	
}
.produtos3{
	width: 500px;
	height: 300px;
	margin: 5px;
	background-color: #FFF;
	text-align: center;
	
}
.produtos4{
	width: 500px;
	height: 300px;
	margin: 5px;
	background-color: #FFF;
	text-align: center;
	
}

img{
	width: 200px;
	height: 250px;
}
.rodapes{
	width: 100%;
	height:auto;
	background-color: #FF8C00;
	display: flex;
	justify-content: center;
	
}
.rodape{
	display: flex;
	margin:10px;
	justify-content: center;
	align-items: center;
	color: #FFF;
}

.coluna1{
	display:flex-end;
	margin-right: 180px;
	font-size: 20px;
	font-family: arial;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.coluna2{
	margin-right: 180px;
	font-size: 20px;
	font-family: arial;
	text-align: center;
}
.coluna3{
	font-size: 20px;
	font-family: arial;
	margin-right: -170px;
	text-align: center;
}
.coluna1 a{
	text-decoration: none;
	list-style: none;
	color: #FFF;
}
.coluna1 a:hover{
	color: #000;
}
.end{
	width: 100%;
	height: 100%;
	background-color: #000;
	font-size: 15px;
	font-family: arial;
}
.copyright{
	color: #FFF;
	
	display: flex;
	align-items: center;
	justify-content: center;
}